doctype html
html
  head
    title josan'z food point
    block scripts                    
    block style
    
    //- common navbar --->>
body
<nav id="navbar">
    <ul id="unlist">
        <div id="logo">
            <img src="static/home-logos/cooking.png" alt="error">
        </div>
        <li id="lst1" class="lst"><a href="/">Home</a></li>
        <li id="lst2" class="lst"><a href="/service">Services</a></li>
        <li id="lst3" class="lst"><a href="/about">About Us</a></li>
        <li id="lst4" class="lst"><a href="/delivery">Delivery</a></li>
        <li id="lst5" class="lst"><a href="/catering">Catering</a></li>
        <li id="lst6" class="lst"><a href="/contact">Contact Us</a></li>
        <div id="search">
            <input type="text" name="text" id="text" placeholder="search here">
            <button class="btn">Search</button>
        </div>
    </ul>
</nav>

block content
block footer